* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Open Sans',sans-serif;
}

/* debug */
.debug nav {
    height: 80px;
    background-color: aquamarine;
}

.debug .hcol{
    height: 100%;
    background-color: bisque;        
}
/* -debug_nav */

.debug .backxl {
    height: 500px;
    background-color: cadetblue;
}

.debug .containxl {
    height: 100%;
    background-color: cornflowerblue;
}

.debug .containsm {
    height: 1000px;
    background-color: crimson;
}

.debug .tariffe {
    height: 300px;
    background-color: darkblue;
}

.debug .operations {
    height: 700px;
    background-color: darkorange;
}

.debug .partner_text {
    height: 300px;
    background-color: darkslateblue;
}

.debug .backcontain {
    height: 600px;
    background-color: darkviolet;
}

.debug .qna {
    height: 300px;
    background-color: firebrick;
}

.debug .backfoot {
    height: 300px;
    background-color: black;
}
/* /debug */

/* Utility */
.hcol {
    float: left;
}

nav li {
    display: inline-block;
}

.mdx {
    text-align: end;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* /Utility */

/* *********
* header
*/
header a {
    color: black;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.logo {
    position: relative;
    top: 0.3rem;
}
.hcol {
    width: 50%;
}

nav li {
    padding: 0 1.5rem;
}

li> button {
    padding: 0.5rem 1rem;
    background-color: #0061FF;
    border: 0;
    color: white;
}
/*
* /header
************ */

/* _________
_ main 
*/
main {
padding-top: 5rem;
}

.backxl {
    width: 100%;
}

.containxl {
    width: 80%;
    margin: 0 auto;
}

.containsm {
    width: 60%;
    margin: 2rem auto;
}

.backcontain {
    width: 100%;
    margin: 2rem 0;
}

/*
_ /main 
____________ */

/* ---------
- footer */
.backfoot {
    width: 100%;
}
/*
- /footer 
------------ */